body {
    font-family: "Exo 2", sans-serif;
    margin: 0;
    padding: 0;
}
.header-container {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%; */
    z-index: 10;
    display: flex;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap; /**/
}
.header-container header {
    margin-left: 50px;
}
header {
    color: black;
    font-size: 2rem;
    margin-left: 50px;
    font-family: "Dongle", sans-serif;
    font-weight: 800;
    font-style: bold;
}
.main-nav {
    margin-left: 100px;
    margin-bottom: 10px;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

}

nav ul li {
    margin-right: 20px;
}
nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Noto Sans KR", sans-serif;
}
nav ul li a:hover {
    color: gray;
}
.search {
    margin-left: 1200px;
}

.slider-anime {
    position: relative;
    width: 100vw;
    height: 60vh;
    overflow: hidden;
    margin: 20px auto;
    margin-top: 70px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.active {
    opacity: 1;
}

.days {
    display: flex;
    flex-wrap:wrap;
    margin-top: 10px;
    margin-left: 50px;
    align-items: center; /* 정렬 */
}
.days button {
    background-color: white;
    width: 5vw;
    height: 3.5vh;
    border: 1px solid lightgray;
    border-radius: 5%;
    font-size: 0.8rem;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
}
.days h3 {
    margin-right: 10px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
}
.day {
    margin-left: 30px;
}
.day button{
    width: 3vw;
    height: 6vh;
    border-radius: 50%;
    border: none;
    background-color:lightgray;
    margin-top: 10px;
    font-size: 1rem;
    margin-left: 20px;
}
.day button:hover {
    background-color: mediumpurple;
}

/* 미디어 쿼리 추가 */
@media (max-width: 600px) {
    header {
        font-size: 1.5rem;
        margin-left: 10px;
    }
    
    .main-nav {
        margin-left: 0;
    }

    nav ul li {
        margin-right: 10px;
    }

    .search {
        margin-left: 0;
    }

    .days button {
        width: 20vw;
        height: 6vh;
    }

    .day button {
        width: 6vw;
        height: 6vh;
        font-size: 0.8rem;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    header {
        font-size: 2.5rem;
        margin-left: 15px;
    }

    .main-nav {
        margin-left: 30px;
    }

    .search {
        margin-left: auto;
    }

    .days button {
        width: 10vw;
        height: 4vh;
    }

    .day button {
        width: 5vw;
        height: 5vh;
        font-size: 0.9rem;
    }
}

@media (min-width: 768px) and (max-width: 992px) { /* 반 */
    .header-container header {
        margin-left: 50px;
    }
    header {
        font-size: 2rem;
    }

    .main-nav {
        margin-left: 40px;
    }

    .slider-anime {
        width: 100vw;
        height: 50vh;
    }

    nav ul {
        display: flex;
    
    }

    nav ul li a {
        font-size: 0.6rem;
    }
    .search {
        margin-left: 400px;
    }

    .days button {
        width: 10vw;
        height: 5vh;
    }

    .day button {
        width: 4vw;
        height: 5vh;
        font-size: 1rem;
    }
}

@media (min-width: 992px) { /* 노트북 */
    header {
        font-size: 2.5rem;
        margin-left: 20px;
    }

    .main-nav {
        margin-left: 50px;
    }

    .days button {
        width: 6vw;
        height: 4.5vh;
    }

    .day button {
        width: 3.3vw;
        height: 6.8vh;
        font-size: 1.3rem;
        font-weight: bold;
        color: white;
    }
}
.day-Anime {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
    margin-left: 40px;
}
.day-anime {
    display: flex;
    text-align: center;
    transition: transform 0.5s ease;
}
.day-anime img{
    width: 17vw;
    height: 20vh;
    display: block;
}
.day-anime figure {
    margin: 10px;
}
.swiper-container {
    margin-left: 10px;
    /* overflow: hidden; */
}
.image-container {
    display: flex;
}

.image-container img {
    max-width: 18vw; /* 이미지 너비 조정 */
    height: auto; /* 이미지 높이 자동으로 조정 */
}
.swiper-wrapper {
    display: flex;
}